:root {
  --color-primary: #111;
  --color-secondary: #e60012;
  --color-price: #e60012;
  --color-bg: #f5f5f5;
  --color-text: #111;
  --color-muted: #666;
  --color-border: #ddd;
  --font-main: 'Noto Sans', sans-serif;
  --radius: 8px;
  --transition: all 0.3s ease;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --gradient-main: linear-gradient(90deg, #1da1f2, #6cc9ff);
}

[data-theme="dark"] {
  --color-bg: #111;
  --color-text: #eee;
  --color-primary: #eee;
  --color-border: #333;
  --shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding-top: 25px;
  background-color: var(--color-bg) !important;
}

@media (min-width: 769px) {

  html,
  body {
    padding-top: 35px;
  }

  .carousel img {
    height: 100vh;
  }
}